<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ДревПосад </title>
    <meta name="theme-color" content="">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="../img/favicons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="../img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-touch-icon-180x180.png">
    <link rel="stylesheet" href="../styles/main.min.css">
</head>
<body>
    <div class="wrapper">

        <header>
            <div class="container">
                <div class="row header-padding col-lg-12  col-sm-12 col-md-12 col-xs-12">
                    <div class="logo col-lg-3 col-md-3 col-sm-2">
                        <img src="../img/logo.png">
                    </div>
                    <div class="wrapper__title col-lg-8 col-lg-offset-1 col-md-7 col-sm-10 col-xs-12">
                        <h2>производство древесных стройматериалов, изделий для дома и дачи</h2>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 hidden-xs  col-md-3 col-sm-3 nav-box">
                                    <div class="nav-elem">
                                        <a href="../index.html">
                                            <h3>о нас</h3>
                                        </a>
                                        <img src="../img/header-button.png">
        
                                    </div>
                                </div>
                                <div class="col-lg-3  hidden-xs col-md-3 col-sm-3 nav-box">
                                    <div class="nav-elem">
                                        <a href="../price.html">
                                            <h3>прайс</h3>
                                        </a>
                                        <img src="../img/header-button.png">
        
                                    </div>
                                </div>
        
                                <div class="col-lg-3  hidden-xs col-md-3 col-sm-3 nav-box">
                                    <div class="nav-elem">
                                        <a href="../contact.html">
                                            <h3>связь</h3>
                                        </a>
                                        <img src="../img/header-button.png">
        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main>

                <div class="container only-mobile"> 
                        <div class="row">

                                <div class="col-xs-5 col-mobile-content">
                                        <div class="nav-elem-mobile ">
                                            <a href="../index.html">
                                                <h3>о нас</h3>
                                            </a>
                                            <img src="../img/header-button.png">
                        
                                        </div>
                                    </div>
                        <div class="col-xs-5 ">
                            <div class="nav-elem-mobile">
                                <a href="../price.html">
                                    <h3>прайс</h3>
                                </a>
                                <img src="../img/header-button.png">
            
                            </div>
                        </div>
            
                      
                    </div>
                </div>
        <div class="container ">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3 hidden-xs contact-head">
                    <h1 class="contact-h3">наш адрес
                        и телефон
                        </h1>
                    
                  <img src="../img/contact-top-img.png">  
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-10  main-info">
                    <p>141308, Московская область, г. Сергиев Посад, ул. Пограничная 28А</p>
                    <p> Телефон: 8 (495) 107 00 08 (многоканальный)</p>
                        <p> 8 (977) 134 7672  (мобильный)</p>
                        <p>  E-mail: mail@drevposad.ru</p>
 
                    </p>
                </div>
            </div>
        </div>
        <!--
        <div class="container contact-center-block-margin hidden-xs">
            <div class="row">
                <div class="col-md-4 arrow-img">
                    <img src="../img/arrow.png">
                </div>
                <div class="col-md-4">
                    <h3 class="contact-go-to-map">посмотреть<br>
                            на <br>
                            карте<br>
                            </h3>
                    <img src="../img/contact-centered-img.png">
                </div>
                <div class="col-md-4 arrow-img">
                    <img src="../img/arrow.png">
                </div>
            </div>
        </div>
        -->
        <div class="container main-info">
            <div class="row"></div>
            <!--  <div class="col-xs-10 hidden-lg  hidden-md  hidden-sm">-->
                    <div class="col-xs-10">
                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A480f2c9567decef1dba2f94c4455d3c4fe9ead6fab7fabf16d83881eeeddd395&amp;source=constructor" width="100%" height="200px" frameborder="0"></iframe>
        </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-10  main-info">
                    <p>
                        Юридические реквизиты организации:<br>
                        ОГРН: 5137746189940<br>
                        ИНН/КПП: 7719864228 / 771901001<br>
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 main-info hidden-xs">
                    <h4 class="contact-prompt">Также вы всегда можете <span class="red-alert">ОСТАВИТЬ ЗАЯВКУ</span>: </h4>
                </div>
            </div>
        </div>
        </div>


       
        
        <div class="container main-info">
                <div class="row">
                    <div class="col-md-4 hidden-xs">
                        <form id='form'>
                            <h5 class="form-caption">ОСТАВИТЬ ЗАЯВКУ</h5>
                            <input class="form-group" name="name" required placeholder="Ваше имя.. ">
                            <input class="form-group" name="phone" required placeholder="Телефон...">
                            <button class="">отправить</button>
                         
                        </form>
                        <img src="./img/contact-form-img.png">
                    </div>

                <div class="col-md-7">
                    <p class="main-info contact-info">Смело обращайтесь к нам по любым вопросам
                            касательно товара, производства, сроков, способов
                            оплаты и доставки. Мы не просто проконсультируем,
                             а подберём наиболее выгодное и полезное для вас 
                            решение!
                            </p>
                    </div>
            </div>
        </div>

        <div class="container main-info">
            <div class="row">
                <div class="col-md-12 hidden-xs">
                    <h5 class="content-bottom-text">Спасибо, что выбрали нас! Верим в наше продуктивное сотрудничество!
                        </h5>
                </div>
            </div>
        </div>
    </main>
    //= blocks/footer.html
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
    $("#form").submit(function(e) { //устанавливаем событие отправки для формы с id=form
        e.preventDefault();
            var form_data = $(this).serialize(); //собераем все данные из формы
            $.ajax({
            type: "POST", //Метод отправки
            url: "send.php", //путь до php фаила отправителя
            data: form_data,
            success: (function() {
                  //код в этом блоке выполняется при успешной отправке сообщения
                  alert("Ваше сообщение отпрвлено!");
                  $("button").remove();
                  $(".form-group").remove();
                  $('.form-caption').text('сообщение отправлено');
            })
            });
    });
});    
    </script>
</body>

</html>