<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Project</title>
    <meta name="theme-color" content="">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="../dest/img/favicons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="../dest/img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="../dest/img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../dest/img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../dest/img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../dest/img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../dest/img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../dest/img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../dest/img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../dest/img/favicons/apple-touch-icon-180x180.png">
    <link rel="stylesheet" href="../dest/styles/main.min.css">
</head>
<body>
    <div class="wrapper">

        //= blocks/header.html
        <main>
        <div class="container ">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3 contact-head">
                    <h1 class="contact-h3">наш адрес
                        и телефон
                        </h1>
                    
                  <img src="../img/contact-top-img.png">  
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-10 col-md-offset-3 main-info">
                    <p>
                                                141308, Московская область, г. Сергиев Посад, ул. Пограничная 28А<br>
                        Телефон: 8 (495) 107 00 08 (многоканальный)<br>
                        E-mail: mail@drevposad.ru
 
                    </p>
                </div>
            </div>
        </div>
        <div class="container contact-center-block-margin">
            <div class="row">
                <div class="col-md-4 arrow-img">
                    <img src="../img/arrow.png">
                </div>
                <div class="col-md-4">
                    <h3 class="contact-go-to-map">посмотреть<br>
                            на <br>
                            карте<br>
                            </h3>
                    <img src="../img/contact-centered-img.png">
                </div>
                <div class="col-md-4 arrow-img">
                    <img src="../img/arrow.png">
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-8 main-info">
                    <h4>Также вы всегда можете <span class="red-alert">ОСТАВИТЬ ЗАЯВКУ</span>: </h4>
                </div>
            </div>
        </div>

        <div class="container main-info">
            <div class="row">
                <div class="col-md-4">
                    <form>
                        <h5 class="form-caption">ОСТАВИТЬ ЗАЯВКУ</h5>
                        <input class="form-group" placeholder="Ваше имя.. ">
                        <input class="form-group" placeholder="Телефон...">
                        <button class="">отправить</button>
                     
                    </form>
                    <img src="../img/contact-form-img.png">
                </div>

                <div class="col-md-6 col-md-offset-1">
                    <p class="main-info contact-info">Смело обращайтесь к нам по любым вопросам
                            касательно товара, производства, сроков, способов
                            оплаты и доставки. Мы не просто проконсультируем,
                             а подберём наиболее выгодное и полезное для вас 
                            решение!
                            </p>
                    </div>
            </div>
        </div>

        <div class="container main-info">
            <div class="row">
                <div class="col-md-12">
                    <h5 class="content-bottom-text">Спасибо, что выбрали нас! Верим в наше продуктивное сотрудничество!
                        </h5>
                </div>
            </div>
        </div>
    </main>
    
//= blocks/footer.html
</div>
<script src="../dest/js/main.min.js"></script>
</body>

</html>