<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Project</title>
    <meta name="theme-color" content="">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="../dest/img/favicons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="../dest/img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="../dest/img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../dest/img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../dest/img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../dest/img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../dest/img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../dest/img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../dest/img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../dest/img/favicons/apple-touch-icon-180x180.png">
    <link rel="stylesheet" href="../dest/styles/main.min.css">
</head>

<body>
    <div class="wrapper">

        //= blocks/header.html

        <main>
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-lg-9 col-md-offset-2 main-info">
                    <p>
                        <span>ДревПосад </span> - это деревообрабатывающее предприятие в Сергиевом Посаде,
                        которое превратится в настоящую находку для вашего бизнеса! Мы заказываем
                        первоклассную древесину костромских и ивановских лесов, чтобы создать из неё
                        строительные материалы (евровагонка, доска, брус), а также готовые изделия для
                        дома и дачи (лавочки, ставни и так далее). Оптимизированное производство и
                        современное оборудование позволяют нам реализовывать продукцию
                        по сравнительно низкой цене, не уступая конкурентам в качестве.
                    </p>
                </div>
            </div>
        </div>

        <div class="container whom-block">
            <div class="row">
                <div class="col-md-3 col-md-offset-5 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
                    <h3 class="whom-h3"> кому мы
                        пригодимся</h3>
                    <img src="../img/whom.png">
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 whom-card">
                    <img src="../img/whom-icon-1.png">
                    <p>базам и
                        магазинам
                        стройматериалов</p>
                </div>
                <div class="col-md-3 whom-card">
                    <img src="../img/whom-icon-2.png">
                    <p>магазинам
                        для дома
                        и дачи</p>
                </div>
                <div class="col-md-3 whom-card">
                    <img src="../img/whom-icon-3.png">
                    <p>магазинам
                        мебели и
                        интерьера</p>
                </div>
                <div class="col-md-3 whom-card">
                    <img src="../img/whom-icon-4.png">
                    <p>предприятиям,
                        нуждающимся в
                        древесной стружке</p>
                </div>
            </div>
        </div>

        <div class="container whom-block">
            <div class="row">
                <div class="col-md-3 col-md-offset-5 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
                    <h3 class="what-h3"> почему мы</h3>
                    <img src="../img/button-background.png">
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 whom-card">
                    <img src="../img/icon-what-1.png">
                    <p>работаем только
                        с качественной
                        долговечной
                        древесиной
                    </p>
                </div>
                <div class="col-md-3 whom-card">
                    <img src="../img/icon-what-2.png">
                    <p>располагаемся в
                        Московской области,
                        близкой многим
                        регионам</p>
                </div>
                <div class="col-md-3 whom-card">
                    <img src="../img/icon-what-3.png">
                    <p>широкий
                        ассортимент, что
                        удобно и
                        выгодно
                    </p>
                </div>
                <div class="col-md-3 whom-card">
                    <img src="../img/icon-what-4.png">
                    <p>позволяем заказчикам
                        изрядно экономить,
                        сдерживая
                        цены</p>
                </div>
            </div>
        </div>
    </main>
        //= blocks/footer.html
    </div>
    <script src="../dest/js/main.min.js"></script>
</body>

</html>