<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Project</title>
    <meta name="theme-color" content="">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="../dest/img/favicons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="../dest/img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="../dest/img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../dest/img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../dest/img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../dest/img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../dest/img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../dest/img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../dest/img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../dest/img/favicons/apple-touch-icon-180x180.png">
    <link rel="stylesheet" href="../dest/styles/main.min.css">
</head>

<body>
    <div class="wrapper">

        //= blocks/header.html

    <main>
            <div class="container only-mobile"> 
                    <div class="row">

                            <div class="col-xs-5 col-mobile-content">
                                    <div class="nav-elem-mobile ">
                                        <a href="../index.html">
                                            <h3>о нас</h3>
                                        </a>
                                        <img src="../img/header-button.png">
                    
                                    </div>
                                </div>
                    <div class="col-xs-5 ">
                        <div class="nav-elem-mobile">
                            <a href="../contact.html">
                                <h3>связь</h3>
                            </a>
                            <img src="../img/header-button.png">
        
                        </div>
                    </div>
        
                  
                </div>
            </div>


        <div class="container whom-block">
            <div class="row">
                <div class="col-md-3 col-md-offset-5 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">

                    <h3 class="price-h3">скачать
                        прайс </h3>
                    <img src="../img/whom.png">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 main-info">
                    <p>Прайс даст вам наиболее подробное представление о наших товарах, но пока вы его не
                        скачали, то ознакомьтесь с кратким перечнем продукции:
                    </p>
                </div>
                <div class="row">
                <div class="col-md-6 product-list">
                    <p>ТОВАРЫ ДЛЯ ДОМА И ДАЧИ:</p>
                    <div class="col-md-5 col-md-offset-3  col-xs-offset-1  list-block">
                    <ul>
                        <li> резные рамы для зеркал</li>
                        <li>резные рамы для картин</li>
                        <li>оконные ставни</li>
                        <li>скамьи для сидения</li>
                        <li>туалетные домики</li>
                    </ul>
                </div>
                </div>
                <div class="col-md-6 product-list">
                    <p>СТРОЙМАТЕРИАЛЫ:</p>
                    <div class="col-md-5 col-md-offset-4   col-xs-offset-1 list-block">
                    <ul>
                        <li>евровагонка </li>
                        <li>вагонка штиль</li>
                        <li>имитация бруса</li>
                        <li>доска пола </li>
                        <li>доска строганная
                            и нестроганная</li>
                        <li>кругляк
                        </li>
                        <li>рейка
                        </li>
                        <li>брус
                        </li>
                    </ul>
                </div>
                </div>
            </div>
            </div>
            <div class="container">
        <div class="row">
            <div class="col-md-11 hidden-xs price-about">
                <p>Отделка имитацией бруса - классическое интерьерное решение для дома, дачи и 
                        бани, которое всегда актуально. Именно поэтому приобретение этой продукции 
                        деревообрабатывающих предприятий станет правильным выбором для вашего 
                        строительного или торгового бизнеса. Обратившись к нам, вы не прогадаете - мы 
                        работаем с первоклассным сырьём костромских и ивановских лесов под чутким 
                        руководством опытных специалистов.</p>
                <p>

                        Помимо бруса, в наш ассортимент входит вагонка из сосны и лиственных деревьев, 
                        а также штиль, рейка, кругляк, нестроганная и строганная доска. Также вы всегда 
                        можете купить опилки и стружку по невероятно низкой цене, которые востребованны
                        в сельском хозяйстве, в производстве упаковки, удобрений, товаров для животных.</p>
                <p>В России деревообрабатывающих предприятий много, но наше располагается в
                        Московской области, близкой многим отечественным регионам. Это существенно
                        снижает стоимость доставки, что немаловажно при транспортировке большого груза. 
                        В обшем, мы честно не можем сказать себе, в чём уступаем конкурентам. Надеемся,
                        вы тоже не сможете ответить на этот вопрос, став нашим постоянным клиентом!</p>
            </div>
        </div>
    </div>
        </div>
    </main>
        //= blocks/footer.html
    </div>
    <script src="../dest/js/main.min.js"></script>
</body>

</html>