<footer>
    <div class="container">
        <div class="row header-padding">
            <div class="logo-footer col-lg-3 col-md-2 col-sm-6 col-xs-2">
                <img src="../img/logo.png">
            </div>
            <div class="col-md-5 col-md-3 col-sm-6 col-xs-7">
                <p class="footer-adress">©</p>
                <p class="footer-adress">ДревПосад,
                    Московская область,
                    г. Сергиев Посад,
                    ул. Пограничная 28А,
                    тел. +7(495)1070008

                </p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aec9166c01e1d2d845bcc54f8657301ac868820f2adda553d85b0c3f27d4f2186&amp;source=constructor"
                    width="100%" height="280px" frameborder="0"></iframe>
            </div>

</footer>