<footer>
    <div class="container">
        <div class="row footer-padding">
            <div class="logo-footer col-lg-3 col-md-2 col-sm-6 col-xs-2 hidden-xs">
                <img src="../img/logo.png">
            </div>
            <div class="col-md-5 col-md-3 col-sm-6 col-xs-12">
                <p class="footer-adress"></p>
                <p class="footer-adress">© ДревПосад,
                    Московская область,
                    г. Сергиев Посад,
                    ул. Пограничная 28А,
                    тел. +7(495)1070008

                </p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 hidden-xs">
                    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A480f2c9567decef1dba2f94c4455d3c4fe9ead6fab7fabf16d83881eeeddd395&amp;source=constructor" width="100%" height="250" frameborder="0"></iframe>
            </div>

</footer>